#combat {
    li.combatant.defeated {
        color: #e0736e;
    }

    .combatant {
        display              : grid;
        grid-template-columns: 48px 1fr 48px;

        .token-name {
            display           : grid;
            grid-template-rows: auto;

            .combatant-controls {
                display              : grid;
                grid-template-columns: 20px 20px 48px 20px 1fr;

                .actions,
                .shotCost {
                    color           : silver;
                    height          : 20px;
                    border          : none;
                    background-color: #800;
                    text-align      : center;
                }
            }
        }

        .token-initiative {
            .initiative {
                color           : silver;
                height          : 20px;
                border          : none;
                background-color: #800;
                text-align      : center;
            }
        }
    }
}