{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.checkmods") itemtype="Modifier" sections="single" mod1="check"}}
<div class="checkmods">
{{> "systems/grpga/templates/partials/modifiers.hbs" section=checkmods}}
{{> "systems/grpga/templates/partials/modifiers.hbs" section=checkspec}}
</div>

{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.3d6.checks") itemtype="Rollable" category="check" sections="single"}}
<div class="checks">
{{#each checks as |item|}}
{{#if (ne item.name "Reaction")}}
    <div class="item check" data-item-id={{item._id}} title="{{item.data.notes}}">
        <label class="rollable draggable" data-name="{{item.name}}" data-roll={{numberFormat item.data.value decimals=0}} data-type="check">
            [{{numberFormat item.data.moddedvalue decimals=0}}] {{item.name}}
        </label>
    </div>
{{/if}}
{{/each}}
</div>