{{!-- Custom Tabs --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.customtabs") itemtype="Custom-Tab"
        sections="single"}}

<div class="customtabs">
    {{#each customtabs as |item|}}
        <div class="item customtab" title="{{item.data.notes}}" data-item-id={{item._id}}>
            <label class="tabname draggable">{{item.name}}</label>
        </div>
    {{/each}}
</div>