{{#each section as |item|}}
{{#if item.data.alwaysOn}}
{{else}}
<div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}{{#if (and item.data.attack item.data.damage)}} attackdamagemod{{else if item.data.attack}} attackmod{{else if item.data.damage}} damagemod{{/if}}" data-item-id={{item._id}} title="{{item.data.notes}}">
    <label class="item-toggle draggable">{{item.name}}</label>
</div>
{{/if}}
{{/each}}