{{#if (eq mode "d20")}}
<div class="movement" title="{{localize "grpga.actor.bm.name"}}">
    <label title="{{modeSpecificText.stepT}}">
{{modeSpecificText.step}}
    </label>
    <label title="{{modeSpecificText.quarterT}}">
{{modeSpecificText.quarter}}
    </label>
    <label title="{{modeSpecificText.halfT}}">
{{modeSpecificText.half}}
    </label>
    <label title="{{modeSpecificText.moveT}}">
{{modeSpecificText.move}}
    </label>
    <label></label>
    <input type="text" name="data.bm.step" value={{actor.data.bm.step}} data-dtype="Number" />
    <label>{{actor.data.bm.quarter}}</label>
    <label>{{actor.data.bm.half}}</label>
    <label>{{actor.data.bm.move}}</label>
    <label></label>
{{else if (eq mode "oats")}}
<div class="movement oats" title="{{localize "grpga.actor.bm.name"}}">
    <label title="{{modeSpecificText.stepT}}">
{{modeSpecificText.step}}
    </label>
    <label title="{{modeSpecificText.quarterT}}">
{{modeSpecificText.quarter}}
    </label>
    <input type="text" name="data.bm.step" value={{actor.data.bm.step}} data-dtype="Number" />
    <input type="text" name="data.bm.quarter" value={{actor.data.bm.quarter}} data-dtype="Number" />
{{else if (eq mode "d100")}}
<div class="movement d100" title="{{localize "grpga.actor.bm.name"}}">
    <label title="{{modeSpecificText.stepT}}">
{{modeSpecificText.step}}
    </label>
    <label title="{{modeSpecificText.quarterT}}">
{{modeSpecificText.quarter}}
    </label>
    <label title="{{modeSpecificText.halfT}}">
{{modeSpecificText.half}}
    </label>
    <label title="{{modeSpecificText.moveT}}">
{{modeSpecificText.move}}
    </label>
    <label title="{{modeSpecificText.sprintT}}">
{{modeSpecificText.sprint}}
    </label>
    <label title="{{localize "grpga.actor.bm.d100.dashT"}}">
{{localize "grpga.actor.bm.d100.dash"}}
    </label>
    <input type="text" name="data.bm.step" value={{actor.data.bm.step}} data-dtype="Number" />
    <label>{{actor.data.bm.quarter}}</label>
    <label>{{actor.data.bm.half}}</label>
    <label>{{actor.data.bm.move}}</label>
    <label>{{actor.data.bm.sprint}}</label>
    <label>{{actor.data.bm.dash}}</label>
{{else}} <!-- 3d6 -->
<div class="movement" title="{{localize "grpga.actor.bm.name"}}">
    <label title="{{modeSpecificText.stepT}}">
{{modeSpecificText.step}}
    </label>
    <label title="{{modeSpecificText.quarterT}}">
{{modeSpecificText.quarter}}
    </label>
    <label title="{{modeSpecificText.halfT}}">
{{modeSpecificText.half}}
    </label>
    <label title="{{modeSpecificText.moveT}}">
{{modeSpecificText.move}}
    </label>
    <label title="{{modeSpecificText.sprintT}}">
{{modeSpecificText.sprint}}
    </label>
    <input type="text" name="data.bm.step" value={{actor.data.bm.step}} data-dtype="Number" />
    <input type="text" name="data.bm.quarter" value={{actor.data.bm.quarter}} data-dtype="Number" />
    <input type="text" name="data.bm.half" value={{actor.data.bm.half}} data-dtype="Number" />
    <input type="text" name="data.bm.move" value={{actor.data.bm.move}} data-dtype="Number" />
    <input type="text" name="data.bm.sprint" value={{actor.data.bm.sprint}} data-dtype="Number" />
{{/if}}
</div>