<nav class="sheet-tabs tabs" data-group="primary">
{{#if (eq mode "vsd")}}
    <a class="tabtitle" data-tab="vsd">{{localize "grpga.tabs.vsd"}}</a>
{{/if}}
    <a class="tabtitle" data-tab="stats">{{localize "grpga.tabs.main"}}</a>
    <a class="tabtitle" data-tab="combat">{{localize "grpga.tabs.combat"}}</a>
{{#if (eq mode "3d6")}}
    <a class="tabtitle" data-tab="checks">{{localize "grpga.tabs.checks"}}</a>
{{/if}}
    <a class="tabtitle" data-tab="skills">{{localize "grpga.tabs.skills"}}</a>
    <a class="tabtitle" data-tab="spells">{{localize "grpga.tabs.spells"}}</a>
    <a class="tabtitle" data-tab="items">{{localize "grpga.tabs.items"}}</a>
    <a class="tabtitle" data-tab="scripts">{{localize "grpga.tabs.scripts.title"}}</a>
</nav>