<div class="owneditems">
	{{#each section as |item|}}

	{{#if (and (eq item.type "Hit-Location") (eq mode "3d6"))}}
	<div class="item owneditem" data-item-id={{item._id}} title="
Damage: {{item.data.damage}}
DR: {{item.data.injuryType}}
To Cripple: {{item.data.toCripple}}
Crippled: {{item.data.crippled}}
To Hit Pen: {{item.data.toHitPenalty}}
">
	{{else}}
	<div class="item owneditem" data-item-id={{item._id}} title="{{item.data.notes}}">
	{{/if}}
		<label class="name draggable item-edit">{{item.name}}</label>

		{{#if (eq item.type "Primary-Attribute")}}
		<label class="value">{{item.data.attr}}</label>
		{{else}}
			{{#if item.data.formula}}
		<label class="value">{{item.data.formula}}</label>
			{{else}}
				{{#if (eq item.type "Modifier")}}
		<input class="value iteminput" type="checkbox" {{checked item.data.alwaysOn}} data-dtype="Boolean" data-name="data.alwaysOn"/>
				{{else}}
		<label class="value">{{item.data.value}}</label>
				{{/if}}
			{{/if}}
		{{/if}}
	</div>
	{{/each}}
</div>
