<div id="baseitems">
    <div class="item-controls">
        <div>
            <a class="item-control item-create" title="{{localize " grpga.tabs.scripts.createT"}}">
                <i class="fas fa-plus"></i> {{localize "grpga.tabs.scripts.create"}}
            </a>
        </div>
        <div>
            <a class="item-control item-export" title="{{localize " grpga.tabs.scripts.exportT"}}">
                <i class="fas fa-minus"></i> {{localize "grpga.tabs.scripts.export"}}
            </a>
        </div>
        {{#if (eq mode "d20")}}
        <div>
            <a class="item-control importMM" title="Import stat block in Monster Manual format">
                <i class="fas fa-plus"></i> Import MM Format
            </a>
        </div>
        {{else if (eq mode "oats")}}
        <div>
            <a class="item-control importOaTS" title="Import stat block in Ops and Tactics System format">
                <i class="fas fa-plus"></i> Import OaTS Format
            </a>
        </div>
        {{else if (eq mode "d100")}}
        <div>
            <a class="item-control importRM" title="Import stat block in Rolemaster Family format">
                <i class="fas fa-plus"></i> Import RM Format
            </a>
        </div>
        {{else if (eq mode "vsd")}}
        <div>
            <a class="item-control importVsD" title="Import stat block in Against the Darkmaster format">
                <i class="fas fa-plus"></i> Import VsD Format
            </a>
        </div>
        {{else if (eq mode "3d6")}}
        <div>
            <a class="item-control importGCS" title="Import actor from GCS">
                <i class="fas fa-plus"></i> Import GCS Format
            </a>
        </div>
        {{/if}}
    </div>
    <textarea rows="24" name="data.itemscript">{{{actor.data.itemscript}}}</textarea>
</div>
