{{!-- SPELL MODIFIERS (probably none for d20) --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.spellmods") itemtype="Modifier" sections="single" mod1="spell"}}
<div class="spellmods">
{{#if (eq mode "3d6")}}
    <!-- The Global Modifier applies to every roll and then is reset -->
{{> "systems/grpga/templates/partials/gmod.hbs" data=data}}
{{/if}}
{{> "systems/grpga/templates/partials/modifiers.hbs" section=spellmods}}
{{> "systems/grpga/templates/partials/modifiers.hbs" section=spellspec}}
</div>

{{!-- SPELLS --}}{{!-- RITUAL MAGIC SPELLS --}}
{{#if (eq mode "3d6")}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" sections="double" label=(localize "grpga.sections.spells") itemtype="Rollable" category="spell" secondlabel=(localize "grpga.sections.rms") seconditemtype="Rollable" secondcategory="rms"}}
{{else}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" sections="single" label=(localize "grpga.sections.spells") itemtype="Rollable" category="spell"}}
{{/if}}

<div class="spells">
{{#each spells as |item|}}
    <div class="item spell" data-item-id={{item._id}} title="{{item.data.notes}}">
        <label class="rollable draggable" data-name="{{item.name}}" data-roll={{numberFormat item.data.value decimals=0}}
            data-details="{{item.data.notes}}" data-type="spell" data-rollType="oe">
            [{{numberFormat item.data.moddedvalue decimals=0}}] {{item.name}}
        </label>
    </div>
{{/each}}
</div>