{{!-- FEATS --}}{{!-- ADVANTAGES --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.advantages itemtype="Trait"
category="advantage" sections="single"}}
<div id="traits">
{{#each advantages as |item|}}
    <div class="trait" data-item-id={{item._id}}>
        <label class="title">{{item.name}}</label>
        <label>{{item.data.notes}}</label>
    </div>
{{/each}}
</div>

{{!-- WEAKNESSES --}}{{!-- DISADVANTAGES --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.disadvantages itemtype="Trait"
category="disadvantage" sections="single"}}
<div id="traits">
{{#each disadvantages as |item|}}
    <div class="trait" data-item-id={{item._id}}>
        <label class="title">{{item.name}}</label>
        <label>{{item.data.notes}}</label>
    </div>
{{/each}}
</div>

{{!-- RACIAL ABILITIES --}}{{!-- PERKS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.perks itemtype="Trait" category="perk" sections="single"}}
<div id="traits">
{{#each perks as |item|}}
    <div class="trait" data-item-id={{item._id}}>
        <label class="title">{{item.name}}</label>
        <label>{{item.data.notes}}</label>
    </div>
{{/each}}
</div>

{{!-- CLASS ABILITIES --}}{{!-- QUIRKS --}}
{{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.quirks itemtype="Trait"
category="quirk" sections="single"}}
<div id="traits">
{{#each quirks as |item|}}
    <div class="trait" data-item-id={{item._id}}>
        <label class="title">{{item.name}}</label>
        <label>{{item.data.notes}}</label>
    </div>
{{/each}}
</div>