<div class="section">
    <div class="sectionheader collapsible" data-section="spelllores">
        <label>{{localize "grpga.sections.spelllores"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.spelllores}}">
        <div class="threespan">
            {{#each spells as |item|}}
            <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="open-journal draggable" data-table="{{item.name}}"> {{~item.name}} [{{item.data.formula}}] </label>
                <label class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="spell"
                    data-type="modlist">[ {{~item.data.moddedvalue~}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-type="spell"
                    data-attacktable="2.6 Spell Casting Table" data-journal="{{item.name}}">
                    <i class="fas fa-dice-d20"></i></a>
            </div>
            {{/each}}
        </div>
        <div class="threespan">
            <div class="header">
                <label>{{localize "grpga.sections.attackspells"}}</label>
            </div>
            {{#each attackspells as |item|}}
            <div class="item entry" data-item-id={{item._id}} title="{{item.data.notes}}">
                <label class="open-journal draggable" data-table="{{item.spellname}}"> {{~item.spellnamecrit~}} </label>
                <label class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}} data-modtype="spell"
                    data-type="modlist">[ {{~item.data.moddedvalue~}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.data.value}}
                    data-threat={{item.data.armourDiv}} data-type="attack" data-oerange="{{item.data.rof}}"
                    data-maxresult="{{item.data.accuracy}}" data-attacktable="{{item.data.damage}}"
                    data-crittable="{{item.data.damageType}}" data-journal="{{item.spellname}}">
                    <i class="fas fa-dice-d20"></i></a>
            </div>
            {{/each}}
        </div>
        <div class="fourspan">
            <div class="header">
                <label>{{localize "grpga.sections.spellmods"}}</label>
            </div>
            {{> "systems/grpga/templates/partials/gmod.hbs" data=data}}
            {{#each spellpools as |item|}}
            <div class="item poolstyle" title="{{item.notes}}" data-item-id={{item._id}}>
                <label class="poolname item-edit draggable">{{item.name}}:</label>
                <input class="value iteminput pool" type="text" value={{item.value}} data-dtype="Number"
                    data-name="data.value" data-abbr="{{item.abbr}}" />
                <span>/ {{item.max}}</span>
            </div>
            {{/each}}
            {{#each spellvariables as |item|}}
            <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename item-edit draggable">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                    {{#select item.data.label}}
                    {{#each item.data.entries as |entry e|}}
                    {{#if (ne @index 0)}}
                    <option value="{{entry.label}}">{{entry.label}}</option>
                    {{/if}}
                    {{/each}}
                    {{/select}}
                </select>
                <label class="value">{{item.data.value}}</label>
            </div>
            {{/each}}
            {{#each spellmods as |item|}}
            {{#if item.data.alwaysOn}}
            {{else}}
            <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}}
                title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<hr>
<div class="section">
    <div class="sectionheader collapsible" data-section="specialrolls">
        <label>{{localize "grpga.sections.specialrolls"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.specialrolls}}">

        <div class="threespan">
            {{#each specialrolls as |item|}}
            {{#if (eq item.type "Defence")}}
            <div class="item entry" data-item-id={{item._id}} title="{{item.notes}}">
                <label class="open-journal draggable" data-table="{{item.notes}}"> {{~item.name~}} </label>
                <label class="rollable" data-name="{{item.name}}" data-roll="{{item.value}}" data-modtype="dodge"
                    data-type="modlist">[ {{~item.moddedvalue~}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.value}} data-type="dodge"
                    data-attacktable="{{item.notes}}">
                    <i class="fas fa-dice-d20"></i>
                </a>
            </div>
            {{else}} {{! For Brawl: Unarmed Touch Attack}}
            <div class="item entry" data-item-id={{item._id}} title="{{item.notes}}">
                <label class="open-journal draggable" data-table="7.4 Unarmed/Grapple Attack Table"> {{~item.name~}} </label>
                <label class="rollable" data-name="{{item.name}}" data-roll="{{item.value}}" data-modtype="attack"
                    data-type="modlist">[ {{~item.moddedvalue~}} ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.value}} data-type="attack"
                    data-attacktable="7.4 Unarmed/Grapple Attack Table">
                    <i class="fas fa-dice-d20"></i>
                </a>
            </div>
            {{/if}}
            {{/each}}
        </div>
        <div class="fourspan">
            <div class="header">
                <label>{{localize "grpga.sections.specialmods"}}</label>
            </div>
            {{#each specialmods as |item|}}
            <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename item-edit draggable">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                    {{#select item.data.label}}
                    {{#each item.data.entries as |entry e|}}
                    {{#if (ne @index 0)}}
                    <option value="{{entry.label}}">{{entry.label}}</option>
                    {{/if}}
                    {{/each}}
                    {{/select}}
                </select>
                <label class="value">{{item.data.value}}</label>
            </div>
            {{/each}}
            {{#each defencemods as |item|}}
            {{#if item.data.alwaysOn}}
            {{else}}
            <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}}
                title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>