<header class="vsd-header">
    <div class="sectionheader collapsible char-name" data-section="header">
        <input class="actorname" name="name" type="text" value="{{actor.name}}"
            placeholder="{{localize 'grpga.actor.name'}}" />
    </div>
    <div class="content" style="display: {{actor.data.sections.header}}">
        <div class="layout">
            <div class="portrait">
                <img class="portrait" src={{actor.img}} data-edit="img" title="{{actor.name}}" />
            </div>
            {{#with headerinfo as |item|}}
            <div class="toprow">
                <div class="headinfo single">{{item.kin}}</div>
                <div class="headinfo single">{{item.culture}}</div>
                <div class="headinfo single">{{item.vocation}}</div>
                <div class="headinfo double"><span>Lvl: </span><span>{{item.level}}</span></div>
                <div class="headinfo single" title="{{item.allegiance}}">All</div>
                <div class="headinfo single" title="{{item.nature}}">Nat</div>
                <div class="headinfo single" title="{{item.motivation}}">Mot</div>
            </div>
            <div class="midrow">
                <div class="headinfo declaration item" data-item-id={{item.declaration._id}}>
                    {{~item.declaration.data.value}} : {{item.declaration.data.label~}}
                    <select class="value select iteminput" data-name="data.label">
                        {{#select item.declaration.data.label}}
                        {{#each item.declaration.data.entries as |entry e|}}
                        {{#if (ne @index 0)}}
                        <option class="option" value="{{entry.label}}">{{entry.label}}</option>
                        {{/if}}
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="headinfo move item" data-item-id={{item.move._id}}>
                    {{~item.move.rate}} m {{item.move.mode}}
                    <select class="value select iteminput" data-name="data.label">
                        {{#select item.move.data.label}}
                        {{#each item.move.data.entries as |entry e|}}
                        {{#if (ne @index 0)}}
                        <option class="option" value="{{entry.label}}">{{entry.label}}</option>
                        {{/if}}
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="headinfo double"><span>Armor: </span><span>{{item.armourtype}}</span></div>
                <div class="headinfo double"><span>MeDB: </span><span>{{item.melee}} [{{item.meshield}}]</span></div>
            </div>
            <div class="bottomrow">
                <div class="headinfo triple item" data-item-id={{item.hitpoints._id}}>
                    {{item.hitpoints.abbr}}
                    :<input class="value iteminput pool" type="text" value={{item.hitpoints.value}} data-dtype="Number"
                        data-name="data.value" data-abbr="{{item.hitpoints.abbr}}" />
                        <span>/ {{item.hitpoints.max}}</span>
                </div>
                <div class="headinfo double"><span>Bleed: </span><span>{{item.woundsbleed}}/rd</span></div>
                <div class="headinfo double"><span>Pen: </span><span>{{item.woundspen}}</span></div>
                <div class="headinfo double item" data-item-id={{item.parry._id}}>
                    {{item.parry.name}}
                    :<input class="value iteminput pool" type="text" value={{item.parry.value}} data-dtype="Number"
                        data-name="data.value" data-abbr="{{item.parry.abbr}}" />
                </div>
                <div class="headinfo double"><span>MiDB: </span><span>{{item.missile}} [{{item.mishield}}]</span></div>
            </div>
            {{/with}}
        </div>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-nav tabs" data-group="primary">
        <a class="tabtitle" data-tab="main">{{localize "grpga.tabs.main"}}</a>
        <a class="tabtitle" data-tab="skills">{{localize "grpga.tabs.skills"}}</a>
        <a class="tabtitle" data-tab="spells">{{localize "grpga.tabs.spells"}}</a>
        <a class="tabtitle" data-tab="combat">{{localize "grpga.tabs.combat"}}</a>
        <a class="tabtitle" data-tab="items">{{localize "grpga.tabs.items"}}</a>
        <a class="tabtitle" data-tab="scripts">{{localize "grpga.tabs.scripts.title"}}</a>
    </nav>
</header>
<hr>
