{{!-- PRIMARY ATTRIBUTES --}}
<div class="section">
    <div class="sectionheader collapsible" data-section="primaryattributes">
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.primaryattributes") itemtype="Primary-Attribute" sections="single"}}
    </div>
    <div class="content" style="display: {{actor.data.sections.primaryattributes}}">
        <div class="nospan">
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=primaryattributes}}
        </div>
    </div>
</div>
<hr>
{{!-- HIT LOCATION --}}{{!-- WOUNDS --}}
<div class="section">
    <div class="sectionheader collapsible" data-section="hitlocations">
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.hitlocations itemtype="Hit-Location" sections="single"}}
    </div>
    <div class="content" style="display: {{actor.data.sections.hitlocations}}">
        <div class="nospan">
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=hitlocations}}
        </div>
    </div>
</div>
<hr>
{{!-- SKILLS --}}
<div class="section">
    <div class="sectionheader collapsible" data-section="skills">
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.skills") itemtype="Rollable" category="skill" sections="single"}}
    </div>
    <div class="content" style="display: {{actor.data.sections.skills}}">
        <div class="nospan">
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=skills}}
        </div>
    </div>
</div>
<hr>
{{!-- SPELLS --}}
<div class="section">
    <div class="sectionheader collapsible" data-section="spells">
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.spells") itemtype="Rollable" category="spell" sections="single"}}
    </div>
    <div class="content" style="display: {{actor.data.sections.spells}}">
        <div class="nospan">
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=spells}}
        </div>
    </div>
</div>
<hr>
{{!-- SAVING THROWS --}}{{!-- DEFENCES --}}{{!-- SAVES & VARIOUS --}}
<div class="section">
    <div class="sectionheader collapsible" data-section="savesdefences">
        <h2>{{localize "grpga.sections.vsd.defences"}}</h2>
    </div>
    <div class="content" style="display: {{actor.data.sections.savesdefences}}">
        <div class="nospan">
            <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label="Special and Saves" itemtype="Defence" sections="single"}}
            </div>
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=defences}}
            {{!-- ARMOUR CLASS --}}{{!-- CHECKS --}}{{!-- DEFENSIVE BONUSES --}}
            <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.checks itemtype="Rollable" category="check" sections="single"}}
            </div>
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=checks}}
        </div>
    </div>
</div>
<hr>
{{!-- FEATS --}}{{!-- ADVANTAGES --}}{{!-- NIL --}}
<div class="section">
    <div class="sectionheader collapsible" data-section="traits">
        <h2>{{localize "grpga.sections.vsd.traits"}}</h2>
    </div>
    <div class="content" style="display: {{actor.data.sections.traits}}">
        <div class="nospan">
            <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.advantages itemtype="Trait" category="advantage" sections="single"}}
            </div>
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=advantages}}
            {{!-- WEAKNESSES --}}{{!-- DISADVANTAGES --}}{{!-- PASSIONS --}}
            <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.disadvantages itemtype="Trait" category="disadvantage" sections="single"}}
            </div>
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=disadvantages}}
            {{!-- RACIAL ABILITIES --}}{{!-- PERKS --}}{{!-- KIN SPECIAL TRAITS --}}
            <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.perks itemtype="Trait" category="perk" sections="single"}}
            </div>
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=perks}}
            {{!-- CLASS ABILITIES --}}{{!-- QUIRKS --}}{{!-- BACKGROUND --}}
            <div class="header">
                {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=modeSpecificText.quirks itemtype="Trait" category="quirk" sections="single"}}
            </div>
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=quirks}}
        </div>
    </div>
</div>
<hr>
{{!-- MELEE ATTACKS --}}{{!-- RANGED ATTACKS --}}
<div class="section">
    <div class="sectionheader collapsible" data-section="melee">
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.melee") secondlabel=(localize "grpga.sections.ranged") itemtype="Melee-Attack" seconditemtype="Ranged-Attack" sections="double" mod1="" mod2=""}}
    </div>
    <div class="content" style="display: {{actor.data.sections.melee}}">
        <div class="nospan">
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=attacks}}
        </div>
    </div>
</div>
<hr>
{{!-- POOLS --}}
<div class="section">
    <div class="sectionheader collapsible" data-section="pools">
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.pools") itemtype="Pool" sections="single"}}
    </div>
    <div class="content" style="display: {{actor.data.sections.pools}}">
        <div class="nospan">
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=pools}}
        </div>
    </div>
</div>
<hr>
{{!-- MODIFIERS --}}
<div class="section">
    <div class="sectionheader collapsible" data-section="modifiers">
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.modifiers") itemtype="Modifier" sections="single"}}
    </div>
    <div class="content" style="display: {{actor.data.sections.modifiers}}">
        <div class="nospan">
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=modifiers}}
        </div>
    </div>
</div>
<hr>
{{!-- VARIABLES --}}
<div class="section">
    <div class="sectionheader collapsible" data-section="variables">
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.variables") itemtype="Variable" sections="single"}}
    </div>
    <div class="content" style="display: {{actor.data.sections.variables}}">
        <div class="nospan">
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=variables}}
        </div>
    </div>
</div>
<hr>
{{!-- CONTAINERS --}}
<div class="section">
    <div class="sectionheader collapsible" data-section="containers">
        {{> "systems/grpga/templates/partials/sectiontitles.hbs" label=(localize "grpga.sections.containers") itemtype="Container" sections="single"}}
    </div>
    <div class="content" style="display: {{actor.data.sections.containers}}">
        <div class="nospan">
            {{> "systems/grpga/templates/partials/owneditems.hbs" section=containers}}
        </div>
    </div>
</div>
