<div class="section">
    <div class="sectionheader collapsible" data-section="skills">
        <label>{{localize "grpga.sections.skills"}}</label>
    </div>
    <div class="content" style="display: {{actor.data.sections.skills}}">
        <div class="fourspan">
            {{#each oddskills as |item|}}
            <div class="item doublewide" data-item-id={{item._id}} title="{{item.notes}}">
                <label class="open-journal draggable" data-table="{{item.name}}"> {{~item.name}} [{{item.formula}}] </label>
                <label class="rollable" data-name="{{item.name}}" data-roll="{{item.value}}" data-modtype="reaction"
                    data-type="modlist">[ {{~item.moddedvalue~}} ]</label>
                <div></div>
            </div>
            {{/each}}

            {{#each skillsort as |category|}}
            <div class="subsection">
                <div class="header">
                    <label>{{category.name}}</label>
                </div>
                {{#each category.data as |item|}}
                <div class="item entry" data-item-id={{item._id}} title="{{item.notes}}">
                    <label class="open-journal draggable" data-table="{{item.name}}"> {{~item.name}} [{{item.formula}}] </label>
                    <label class="rollable" data-name="{{item.name}}" data-roll="{{item.value}}" data-modtype="skill"
                        data-type="modlist">[ {{~item.moddedvalue~}} ]</label>
                    <a class="rollable" data-name="{{item.name}}" data-roll={{item.value}} data-type={{item.category}}
                        data-attacktable="2.1 Action Resolution Table">
                        <i class="fas fa-dice-d20"></i>
                    </a>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
        {{#if skillspecials}}
        <div class="fourspan">
            <div class="header">
                <label>{{localize "grpga.sections.specialskills"}}</label>
            </div>
            {{#each skillspecials as |item|}}
            <div class="item entry" data-item-id={{item._id}} title="{{item.notes}}">
                <label class="open-journal draggable" data-table="{{item.name}}">
                     {{~item.name}} [{{item.formula}}] 
                </label>
                <label class="rollable" data-name="{{item.name}}" data-roll={{item.value}} data-modtype="skill"
                    data-type="modlist">[
                    {{~item.moddedvalue~}}
                    ]</label>
                <a class="rollable" data-name="{{item.name}}" data-roll={{item.value}} data-type={{item.category}}
                    data-attacktable="2.1 Action Resolution Table">
                    <i class="fas fa-dice-d20"></i>
                </a>
            </div>
            {{/each}}
        </div>
        {{/if}}
        <div class="fourspan">
            <div class="header">
                <label>{{localize "grpga.sections.skillmods"}}</label>
            </div>
            {{> "systems/grpga/templates/partials/gmod.hbs" data=data}}
            {{#each skillvariables as |item|}}
            <div class="item variable" title="{{item.data.notes}}" data-item-id={{item._id}}>
                <label class="variablename item-edit draggable">{{item.name}}</label>
                <select class="select iteminput" data-name="data.label">
                    {{#select item.data.label}}
                    {{#each item.data.entries as |entry e|}}
                    {{#if (ne @index 0)}}
                    <option value="{{entry.label}}">{{entry.label}}</option>
                    {{/if}}
                    {{/each}}
                    {{/select}}
                </select>
                <label class="value">{{item.data.value}}</label>
            </div>
            {{/each}}
            {{#each skillmods as |item|}}
            {{#if item.data.alwaysOn}}
            {{else}}
            <div class="item modifier{{#if item.data.inEffect}} inEffect{{/if}}" data-item-id={{item._id}}
                title="{{item.data.notes}}">
                <label class="item-toggle draggable">{{item.name}}</label>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>