<table class="criticalstrikestable">
    <tr class="tableheaderrow">
        <td class="roll">Roll</td>
        <td class="resultdescription">Result</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="1-5"
        data-result="A glancing blow leaves a bad mark on target's forearm: +3 Damage." data-woundtitle="null"
        data-condition="null" data-hits1="3" data-bleed1="0" data-action1="0" data-effect1="null" data-hits2="0"
        data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">1-5</td>
        <td class="resultdescription">A glancing blow leaves a bad mark on target's forearm: +3 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="06-20"
        data-result="The target half-dodges the blast, but cannot fully evade it: +6 Damage, 1 Bleed."
        data-woundtitle="Minor Blast" data-condition="null" data-hits1="6" data-bleed1="1" data-action1="0"
        data-effect1="null" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">06-20</td>
        <td class="resultdescription">The target half-dodges the blast, but cannot fully evade it: +6 Damage, 1 Bleed.
        </td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="21-35"
        data-result="Dark energy rends the flesh of the target's upper leg, leaving it slightly numb: +5 Damage, Stunned, -5 to all actions."
        data-woundtitle="Flesh Rend" data-condition="null" data-hits1="6" data-bleed1="0" data-action1="5"
        data-effect1="stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">21-35</td>
        <td class="resultdescription">Dark energy rends the flesh of the target's upper leg, leaving it slightly numb:
            +5 Damage, Stunned, -5 to all actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="36-50"
        data-result="The target instantly regrets raising their arm to parry the blow: +10 Damage, 2 Bleed, and target drops whatever they're holding."
        data-woundtitle="Arm Strike" data-condition="null" data-hits1="10" data-bleed1="2" data-action1="0"
        data-effect1="drop item" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">36-50</td>
        <td class="resultdescription">The target instantly regrets raising their arm to parry the blow: +10 Damage, 2
            Bleed, and target drops whatever they're holding.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="51-65"
        data-result="The blast hits the target hard in the chest, leaving them bruised and staggered: +12 Damage, Stunned, -10 to all actions."
        data-woundtitle="Chest Strike" data-condition="null" data-hits1="12" data-bleed1="0" data-action1="10"
        data-effect1="stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">51-65</td>
        <td class="resultdescription">The blast hits the target hard in the chest, leaving them bruised and staggered:
            +12 Damage, Stunned, -10 to all actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="66-79"
        data-result="Target falls to the ground howling in pain, their side scorched by an eldritch explosion: +12 Damage, 2 Bleed, Stunned and target falls Prone."
        data-woundtitle="Side Scorch" data-condition="null" data-hits1="12" data-bleed1="2" data-action1="0"
        data-effect1="stun, prone" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">66-79</td>
        <td class="resultdescription">Target falls to the ground howling in pain, their side scorched by an eldritch
            explosion: +12 Damage, 2 Bleed, Stunned and target falls Prone.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="80-89"
        data-result="Dark flames envelop the target's left hand: +10 Damage, 3 Bleed, Stunned, -10 to all actions, and target drops whatever they're holding in their left hand."
        data-woundtitle="Burned Hand" data-condition="null" data-hits1="10" data-bleed1="3" data-action1="10"
        data-effect1="stun, drop item" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">80-89</td>
        <td class="resultdescription">Dark flames envelop the target's left hand: +10 Damage, 3 Bleed, Stunned, -10 to
            all actions, and target drops whatever they're holding in their left hand.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="90-99"
        data-result="The target doubles in pain as horrible suppurating blisters appear on their abdomen, where the blast hit them: +13 Damage, 4 Bleed, -20 to all actions and target falls Prone."
        data-woundtitle="Abdomen Blisters" data-condition="null" data-hits1="13" data-bleed1="4" data-action1="20"
        data-effect1="prone" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">90-99</td>
        <td class="resultdescription">The target doubles in pain as horrible suppurating blisters appear on their
            abdomen, where the blast hit them: +13 Damage, 4 Bleed, -20 to all actions and target falls Prone.</td>
    </tr>
    <tr class="tablerow rollable max-superficial" data-type="critical" data-table="7.16 Dark Magic Critical Strikes"
        data-roll="100"
        data-result="A sickly green fire half-carbonizes the side of the target's head. If the target was wearing a helm: +10 Damage, +1 soul-damage, Stunned, helm destroyed. If not: target is knocked out, +3 soul-damage, and ear destroyed."
        data-woundtitle="Head Burns" data-condition="helm" data-hits1="10" data-bleed1="0" data-action1="0"
        data-effect1="soul-damage[1], stun" data-hits2="10" data-bleed2="0" data-action2="0"
        data-effect2="unconscious, stun, soul-damage[3], crippled ear">
        <td class="roll">100</td>
        <td class="resultdescription">A sickly green fire half-carbonizes the side of the target's head. If the target
            was wearing a helm: +10 Damage, +1 soul-damage, Stunned, helm destroyed. If not: target is knocked out, +3
            soul-damage, and ear destroyed.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="101-106"
        data-result="The blast opens a huge gash on the foe's upper leg: +13 Damage, 6 Bleed, Stunned, -30 to all actions."
        data-woundtitle="Leg Gash" data-condition="null" data-hits1="13" data-bleed1="6" data-action1="30"
        data-effect1="stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">101-106</td>
        <td class="resultdescription">The blast opens a huge gash on the foe's upper leg: +13 Damage, 6 Bleed, Stunned,
            -30 to all actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="107-109"
        data-result="Vicious strike vaporizes knee. If the target is wearing metal armor on the legs: +10 Damage, Stunned, -50 to activities, and armor ruined. If not, leg cleanly cut below the knee: +15 Damage, Stunned, -70 to all actions and target falls Prone."
        data-woundtitle="Knee Vaporized" data-condition="metal leg armor" data-hits1="10" data-bleed1="0"
        data-action1="50" data-effect1="stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">107-109</td>
        <td class="resultdescription">Vicious strike vaporizes knee. If the target is wearing metal armor on the legs:
            +10 Damage, Stunned, -50 to activities, and armor ruined. If not, leg cleanly cut below the knee: +15
            Damage, Stunned, -70 to all actions and target falls Prone.</td>
    </tr>
    <tr class="tablerow rollable max-light" data-type="critical" data-table="7.16 Dark Magic Critical Strikes"
        data-roll="110"
        data-result="Tendrils of dark energy ravage the enemy's back. If the target is wearing armor: +12 Damage, 3 Bleed, +3 soul-damage, Stunned. If not:spine cracked, target paralyzed and dies in 8 rounds."
        data-woundtitle="Back Ravaged" data-condition="back armor" data-hits1="12" data-bleed1="3" data-action1="0"
        data-effect1="stun, soul-damage[3]" data-hits2="12" data-bleed2="3" data-action2="0"
        data-effect2="unconscious, stun, death[8], crippled spine">
        <td class="roll">110</td>
        <td class="resultdescription">Tendrils of dark energy ravage the enemy's back. If the target is wearing armor:
            +12 Damage, 3 Bleed, +3 soul-damage, Stunned. If not:spine cracked, target paralyzed and dies in 8 rounds.
        </td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="111-116"
        data-result="The stench of rotting flesh fills the air as corruption spreads throughout the enemy's chest: +15 Damage, +3 soul-damage, 4 Bleed,Stunned, -40 to all actions."
        data-woundtitle="Chest Corrupted" data-condition="null" data-hits1="15" data-bleed1="4" data-action1="40"
        data-effect1="soul-damage[3]" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">111-116</td>
        <td class="resultdescription">The stench of rotting flesh fills the air as corruption spreads throughout the
            enemy's chest: +15 Damage, +3 soul-damage, 4 Bleed,Stunned, -40 to all actions.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="117-119"
        data-result="A surge of eldritch energies corrodes the target's shield arm, melting metal, flesh and bones. If the target is wielding a shield: shield destroyed, +9 Damage, +3 soul-damage, Stunned. Otherwise, arm rendered useless, +16 Hit, +4 soul-damage, Stunned, -50 to all actions."
        data-woundtitle="Shield Arm Corrosion" data-condition="shield" data-hits1="9" data-bleed1="0" data-action1="0"
        data-effect1="stun, soul-damage[3]" data-hits2="16" data-bleed2="0" data-action2="50"
        data-effect2="stun, soul-damage[4]">
        <td class="roll">117-119</td>
        <td class="resultdescription">A surge of eldritch energies corrodes the target's shield arm, melting metal,
            flesh and bones. If the target is wielding a shield: shield destroyed, +9 Damage, +3 soul-damage, Stunned.
            Otherwise, arm rendered useless, +16 Hit, +4 soul-damage, Stunned, -50 to all actions.</td>
    </tr>
    <tr class="tablerow rollable max-moderate" data-type="critical" data-table="7.16 Dark Magic Critical Strikes"
        data-roll="120"
        data-result="Strike to the neck. If the target's neck is protected by rigid armor: +9 Damage, +4 soul-damage, 6 Bleed, Stunned. Otherwise, target falls to the ground coughing blood and dies in 6 Rounds of intense agony."
        data-woundtitle="Neck Strike" data-condition="rigid neck armor" data-hits1="9" data-bleed1="6" data-action1="0"
        data-effect1="stun, soul-damage[4]" data-hits2="9" data-bleed2="6" data-action2="0"
        data-effect2="stun, prone, death[6], crippled neck">
        <td class="roll">120</td>
        <td class="resultdescription">Strike to the neck. If the target's neck is protected by rigid armor: +9 Damage,
            +4 soul-damage, 6 Bleed, Stunned. Otherwise, target falls to the ground coughing blood and dies in 6 Rounds
            of intense agony.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="121-126"
        data-result="An explosion of sorcerous energy utterly consumes the foe's lower leg, leaving only a withered stump behind: +14 Damage, Stunned, -70 to all actions, leg useless, and target falls Prone."
        data-woundtitle="Leg Conflagration" data-condition="null" data-hits1="14" data-bleed1="0" data-action1="70"
        data-effect1="stun, prone, crippled leg" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">121-126</td>
        <td class="resultdescription">An explosion of sorcerous energy utterly consumes the foe's lower leg, leaving
            only a withered stump behind: +14 Damage, Stunned, -70 to all actions, leg useless, and target falls Prone.
        </td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="127-129"
        data-result="Massive blast destroys enemy's shoulder: arm useless, +18 Damage, +3 soul-damage, 6 Bleed, -30 to all actions."
        data-woundtitle="Shoulder Blast" data-condition="null" data-hits1="18" data-bleed1="6" data-action1="30"
        data-effect1="soul-damage[3], crippled arm" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">127-129</td>
        <td class="resultdescription">Massive blast destroys enemy's shoulder: arm useless, +18 Damage, +3 soul-damage,
            6 Bleed, -30 to all actions.</td>
    </tr>
    <tr class="tablerow rollable max-grievous" data-type="critical" data-table="7.16 Dark Magic Critical Strikes"
        data-roll="130"
        data-result="Cruel blow badly maims foe's face. If target is wearing a visored helmet: +15 Damage, +3 soul-damage, both eyes destroyed. If not: foe Dying in 5 rounds as dark energies corrode their face. 50% their corpse will rise the day after as an Undead Thrall."
        data-woundtitle="Maimed Face" data-condition="visored helm" data-hits1="15" data-bleed1="0" data-action1="0"
        data-effect1="blind, soul-damage[3], crippled eyes" data-hits2="15" data-bleed2="0" data-action2="0"
        data-effect2="blind, soul-damage[3], crippled eyes, death[5]">
        <td class="roll">130</td>
        <td class="resultdescription">Cruel blow badly maims foe's face. If target is wearing a visored helmet: +15
            Damage, +3 soul-damage, both eyes destroyed. If not: foe Dying in 5 rounds as dark energies corrode their
            face. 50% their corpse will rise the day after as an Undead Thrall.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="131-136"
        data-result="The blast impact reverberates through both arms of the target. If target is wearing armor: +16 Damage, +5 soul-damage, Stunned, -40 to all actions, and drops whatever they were holding. Otherwise, both arms crippled, +6 soul-damage and target knocked out from pain."
        data-woundtitle="Arm Blast" data-condition="arm armor" data-hits1="16" data-bleed1="0" data-action1="40"
        data-effect1="stun, soul-damage[5], drop item" data-hits2="16" data-bleed2="0" data-action2="40"
        data-effect2="stun crippled arms, soul-damage[6], unconscious">
        <td class="roll">131-136</td>
        <td class="resultdescription">The blast impact reverberates through both arms of the target. If target is
            wearing armor: +16 Damage, +5 soul-damage, Stunned, -40 to all actions, and drops whatever they were
            holding. Otherwise, both arms crippled, +6 soul-damage and target knocked out from pain.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="137-140"
        data-result="Foe stares in disbelief at the rotting mass of flesh that stands where their leg used to be, then falls to the ground, Dying in 8 Rounds."
        data-woundtitle="Leg Rot" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="prone, death[8]" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">137-140</td>
        <td class="resultdescription">Foe stares in disbelief at the rotting mass of flesh that stands where their leg
            used to be, then falls to the ground, Dying in 8 Rounds.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="141-146"
        data-result="The enemy's abdomen explodes in a fountain of putrid black blood: +6 soul-damage, 15 Bleed, Stunned."
        data-woundtitle="Abdomen Explosion" data-condition="null" data-hits1="0" data-bleed1="15" data-action1="0"
        data-effect1="stun, soul-damage[6]" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">141-146</td>
        <td class="resultdescription">The enemy's abdomen explodes in a fountain of putrid black blood: +6 soul-damage,
            15 Bleed, Stunned.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.16 Dark Magic Critical Strikes" data-roll="147-149"
        data-result="Spears of pure darkness impale the enemy's sides, causing massive organ damage. Target is knocked out and dies in 4 Rounds."
        data-woundtitle="Side Impaled" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="unconscious, death[4]" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">147-149</td>
        <td class="resultdescription">Spears of pure darkness impale the enemy's sides, causing massive organ damage.
            Target is knocked out and dies in 4 Rounds.</td>
    </tr>
    <tr class="tablerow rollable max-lethal" data-type="critical" data-table="7.16 Dark Magic Critical Strikes"
        data-roll="150"
        data-result="Target falls to the ground screaming in agony as Darkness consumes their soul. Instant death, target's body rises as an Undead Thrall in 1d5 Rounds."
        data-woundtitle="Soul Consumed" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="death" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="null">
        <td class="roll">150</td>
        <td class="resultdescription">Target falls to the ground screaming in agony as Darkness consumes their soul.
            Instant death, target's body rises as an Undead Thrall in 1d5 Rounds.</td>
    </tr>
</table>