<table class="criticalstrikestable">
    <tr class="tableheaderrow">
        <td class="roll">Roll</td>
        <td class="resultdescription">Result</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table" data-roll="1-5"
        data-result="Target grasped, but not held: no additional damage." data-woundtitle="null" data-condition="null"
        data-hits1="0" data-bleed1="0" data-action1="0" data-effect1="null" data-hits2="0" data-bleed2="0"
        data-action2="0" data-effect2="">
        <td class="roll">1-5</td>
        <td class="resultdescription">Target grasped, but not held: no additional damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="06-20" data-result="Light hold, target breaks free: +2 Damage." data-woundtitle="null"
        data-condition="null" data-hits1="2" data-bleed1="0" data-action1="0" data-effect1="null" data-hits2="0"
        data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">06-20</td>
        <td class="resultdescription">Light hold, target breaks free: +2 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="21-35"
        data-result="Arm grapple, but target manages to break free. If the target is wearing loose sleeves: Stunned and +3 Damage."
        data-woundtitle="null" data-condition="loose sleeves" data-hits1="3" data-bleed1="0" data-action1="0"
        data-effect1="stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">21-35</td>
        <td class="resultdescription">Arm grapple, but target manages to break free. If the target is wearing loose
            sleeves: Stunned and +3 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="36-50"
        data-result="Leg grapple. Target is spun around but breaks free; however is Stunned and takes +3 Damage."
        data-woundtitle="null" data-condition="null" data-hits1="3" data-bleed1="0" data-action1="0" data-effect1="stun"
        data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">36-50</td>
        <td class="resultdescription">Leg grapple. Target is spun around but breaks free; however is Stunned and takes
            +3 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="51-65"
        data-result="Shield arm grapple. If the target has a shield: -50 To all actions until drops shield or breaks free. If the target does not have a shield:Stunned, -30 to all actions while held."
        data-woundtitle="Shield Arm Grapple" data-condition="shield" data-hits1="0" data-bleed1="0" data-action1="50"
        data-effect1="held" data-hits2="0" data-bleed2="0" data-action2="30" data-effect2="stun, held">
        <td class="roll">51-65</td>
        <td class="resultdescription">Shield arm grapple. If the target has a shield: -50 To all actions until drops
            shield or breaks free. If the target does not have a shield:Stunned, -30 to all actions while held.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="66-79"
        data-result="Weapon arm grapple. Target is disarmed and a sprained wrist gives -20 to all actions. Stunned and +4 Damage."
        data-woundtitle="Weapon Arm Grapple" data-condition="null" data-hits1="4" data-bleed1="0" data-action1="20"
        data-effect1="drop weapon, stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">66-79</td>
        <td class="resultdescription">Weapon arm grapple. Target is disarmed and a sprained wrist gives -20 to all
            actions. Stunned and +4 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="80-89"
        data-result="Chest grasp: Target is Stunned. If the target is not wearing rigid chest armor: 1d10 cracked ribs. +2 Damage and -5 to all actions for each broken rib."
        data-woundtitle="Chest Grasp" data-condition="rigid chest armor" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="stun" data-hits2="20" data-bleed2="0" data-action2="50" data-effect2="stun, crippled ribs">
        <td class="roll">80-89</td>
        <td class="resultdescription">Chest grasp: Target is Stunned. If the target is not wearing rigid chest armor:
            1d10 cracked ribs. +2 Damage and -5 to all actions for each broken rib.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="90-99"
        data-result="Leg entangled. Target dragged Prone and Held, takes +3 Damage and -30 to all actions."
        data-woundtitle="Leg Entangled" data-condition="null" data-hits1="3" data-bleed1="0" data-action1="30"
        data-effect1="prone, held" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">90-99</td>
        <td class="resultdescription">Leg entangled. Target dragged Prone and Held, takes +3 Damage and -30 to all
            actions.</td>
    </tr>
    <tr class="tablerow rollable max-superficial" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="100"
        data-result="Both legs held, target falls down. +9 Damage, knocked Prone, and Held. Can't stand up and -40 to all actions until gets free."
        data-woundtitle="Legs Held" data-condition="null" data-hits1="9" data-bleed1="0" data-action1="40"
        data-effect1="prone, held" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">100</td>
        <td class="resultdescription">Both legs held, target falls down. +9 Damage, knocked Prone, and Held. Can't stand
            up and -40 to all actions until gets free.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="101-106"
        data-result="Grapple to weapon arm: torn ligaments. Target is Held, disarmed, Stunned, and at -30 to all actions. If the attacker continues the hold:5 Damage/Round."
        data-woundtitle="Weapon Arm Grapple" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="30"
        data-effect1="held, drop weapon, stun" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">101-106</td>
        <td class="resultdescription">Grapple to weapon arm: torn ligaments. Target is Held, disarmed, Stunned, and at
            -30 to all actions. If the attacker continues the hold:5 Damage/Round.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="107-109"
        data-result="Neck and shoulder grasp. Both attacker and defender locked: -50 to all actions and are considered Held. The attacker can end the hold anytime."
        data-woundtitle="Neck Grasp" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="50"
        data-effect1="held" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">107-109</td>
        <td class="resultdescription">Neck and shoulder grasp. Both attacker and defender locked: -50 to all actions and
            are considered Held. The attacker can end the hold anytime.</td>
    </tr>
    <tr class="tablerow rollable max-light" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="110"
        data-result="Target is completely immobilized on the ground, yet still conscious. Can try to break free at -60. If the attacker maintains the hold: 8 Damage/Round."
        data-woundtitle="Imobilizing Hold" data-condition="null" data-hits1="0" data-bleed1="8" data-action1="0"
        data-effect1="prone, held, incapcitated" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">110</td>
        <td class="resultdescription">Target is completely immobilized on the ground, yet still conscious. Can try to
            break free at -60. If the attacker maintains the hold: 8 Damage/Round.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="111-116"
        data-result="Powerful body lock unbalances foe. If target wears rigid armor: +8 Damage, Stunned, Held, Prone and takes 4 Damage/Round while attacker maintains the hold. Otherwise, +16 Damage, Stunned, Held, Prone, -30 to activities due to cracked ribs, and takes 4 Damage/Round while attacker maintains the hold."
        data-woundtitle="Body Lock" data-condition="rigid armor" data-hits1="8" data-bleed1="4" data-action1="0"
        data-effect1="stun, held, prone" data-hits2="16" data-bleed2="4" data-action2="30"
        data-effect2="stun, held, prone">
        <td class="roll">111-116</td>
        <td class="resultdescription">Powerful body lock unbalances foe. If target wears rigid armor: +8 Damage,
            Stunned, Held, Prone and takes 4 Damage/Round while attacker maintains the hold. Otherwise, +16 Damage,
            Stunned, Held, Prone, -30 to activities due to cracked ribs, and takes 4 Damage/Round while attacker
            maintains the hold.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="117-119"
        data-result="Grapple to weapon arm cleanly breaks wrist. +10 Damage, target is disarmed, Stunned, and -50 to all actions. If the attacker maintains the hold: +4 Damage/Round."
        data-woundtitle="Wrist Break" data-condition="null" data-hits1="10" data-bleed1="4" data-action1="50"
        data-effect1="crippled wrist, drop weapon, stun, held" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="">
        <td class="roll">117-119</td>
        <td class="resultdescription">Grapple to weapon arm cleanly breaks wrist. +10 Damage, target is disarmed,
            Stunned, and -50 to all actions. If the attacker maintains the hold: +4 Damage/Round.</td>
    </tr>
    <tr class="tablerow rollable max-moderate" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="120"
        data-result="Grapple to the neck. If target wears rigid armor around the neck: -60 to all actions until breaks free and Stunned. If not: crushed windpipe, Dying in 6 Rounds"
        data-woundtitle="Neck Grapple" data-condition="rigid neck armor" data-hits1="0" data-bleed1="0"
        data-action1="60" data-effect1="stun, held" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="death[6], crippled windpipe">
        <td class="roll">120</td>
        <td class="resultdescription">Grapple to the neck. If target wears rigid armor around the neck: -60 to all
            actions until breaks free and Stunned. If not: crushed windpipe, Dying in 6 Rounds</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="121-126"
        data-result="Vicious lock disjoints arm and throws foe to the ground. +12 Damage, target is Stunned and Prone, arm is useless, target drops anything they were holding. If the attacker maintains the hold: 8 Damage/Round."
        data-woundtitle="Arm Dislocated" data-condition="null" data-hits1="12" data-bleed1="8" data-action1="0"
        data-effect1="stun, prone, drop item, crippled arm" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="">
        <td class="roll">121-126</td>
        <td class="resultdescription">Vicious lock disjoints arm and throws foe to the ground. +12 Damage, target is
            Stunned and Prone, arm is useless, target drops anything they were holding. If the attacker maintains the
            hold: 8 Damage/Round.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="127-129"
        data-result="Target neck grappled from rear: Stunned and 5 Damage. If the attacker maintains the hold, target is at -40 and takes 5 Damage/Round."
        data-woundtitle="Neck Grapple" data-condition="null" data-hits1="5" data-bleed1="5" data-action1="-40"
        data-effect1="stun, held" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">127-129</td>
        <td class="resultdescription">Target neck grappled from rear: Stunned and 5 Damage. If the attacker maintains
            the hold, target is at -40 and takes 5 Damage/Round.</td>
    </tr>
    <tr class="tablerow rollable max-grievous" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="130"
        data-result="Solid hold to the neck. Target is knocked down and at -60 to all actions. If the target does not manage to break free in 6 Rounds,passes out due to choking."
        data-woundtitle="Neck Hold" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="60"
        data-effect1="unconscious[6], held, prone" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">130</td>
        <td class="resultdescription">Solid hold to the neck. Target is knocked down and at -60 to all actions. If the
            target does not manage to break free in 6 Rounds,passes out due to choking.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="131-136"
        data-result="Foot entangled. Target stumbles, falls and breaks weapon and both arms. -50 To all actions, Stunned, and 12 Damage."
        data-woundtitle="Foot Entangled" data-condition="null" data-hits1="12" data-bleed1="0" data-action1="50"
        data-effect1="break weapon, stun, prone, crippled arms, held" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="">
        <td class="roll">131-136</td>
        <td class="resultdescription">Foot entangled. Target stumbles, falls and breaks weapon and both arms. -50 To all
            actions, Stunned, and 12 Damage.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="137-140"
        data-result="Target is grappled to midsection and sent flying over; falls on its head. If the target is wearing head armor: Stunned, +12 Damage, and-30 to all actions for sprained neck. If not: skull crushed and a broken neck, instant death."
        data-woundtitle="Head Slam" data-condition="helm" data-hits1="12" data-bleed1="0" data-action1="30"
        data-effect1="stun, prone, crippled neck" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="death, crippled skull, crippled neck">
        <td class="roll">137-140</td>
        <td class="resultdescription">Target is grappled to midsection and sent flying over; falls on its head. If the
            target is wearing head armor: Stunned, +12 Damage, and-30 to all actions for sprained neck. If not: skull
            crushed and a broken neck, instant death.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="141-146"
        data-result="Target's legs wrapped up and target falls down. Incapacitated and -80 to all actions when wakes up due to both legs badly broken."
        data-woundtitle="Legs Wrapped" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="80"
        data-effect1="crippled legs, incapacitated " data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">141-146</td>
        <td class="resultdescription">Target's legs wrapped up and target falls down. Incapacitated and -80 to all
            actions when wakes up due to both legs badly broken.</td>
    </tr>
    <tr class="tablerow rollable" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="147-149" data-result="Target is completely entangled and harmless, at the attacker's mercy."
        data-woundtitle="Complete Entanglement" data-condition="null" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="incapacitated" data-hits2="0" data-bleed2="0" data-action2="0" data-effect2="">
        <td class="roll">147-149</td>
        <td class="resultdescription">Target is completely entangled and harmless, at the attacker's mercy.</td>
    </tr>
    <tr class="tablerow rollable max-lethal" data-type="critical" data-table="7.12 Grapple Critical Strikes Table"
        data-roll="150"
        data-result="Headlock crushes skull. If the target wears a helm: target is put in coma. If not: instant death."
        data-woundtitle="Head Crush" data-condition="helm" data-hits1="0" data-bleed1="0" data-action1="0"
        data-effect1="unconscious, crippled skull" data-hits2="0" data-bleed2="0" data-action2="0"
        data-effect2="death, crippled skull">
        <td class="roll">150</td>
        <td class="resultdescription">Headlock crushes skull. If the target wears a helm: target is put in coma. If not:
            instant death.</td>
    </tr>
</table>