{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

  <div id="sheet vsd">

    {{!-- Sheet Header --}}
    {{> "systems/grpga/templates/partials/vsd-header.hbs" data=data}}

    {{!-- Sheet Body --}}
    <section id="tabs" class="sheet-body">

      {{!-- Main Tab --}}
      <div class="tab main" data-tab="main" data-group="primary">

{{> "systems/grpga/templates/partials/vsd-main.hbs" data=data}}

      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">

        {{> "systems/grpga/templates/partials/vsd-skills.hbs" data=data}}

      </div>

      {{!-- Spells Tab --}}
      <div class="tab spells" data-tab="spells" data-group="primary">

        {{> "systems/grpga/templates/partials/vsd-spells.hbs" data=data}}

      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">

        {{> "systems/grpga/templates/partials/vsd-combat.hbs" data=data}}

      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">

        <!-- Traits -->
        {{> "systems/grpga/templates/partials/vsd-items.hbs" data=data}}

      </div>

      {{!-- Script Engine Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">

        {{!-- Script Pane --}}
{{> "systems/grpga/templates/partials/scripts.hbs"}}

      </div>
    </section>
  </div>
  <script>
    $("input").focusin(function () {
      $(this).select();
    });
    $("textarea").focusin(function () {
      $(this).select();
    });
  </script>
</form>