{{log "this: " this}}

<form class="{{cssClass}}" autocomplete="off">
  <div id="sheet">

{{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="portrait">
        <img class="portrait" src={{actor.img}} data-edit="img" title="{{actor.name}}" />
      </div>

      <div class="actorname">
        <input class="actorname" name="name" type="text" value="{{actor.name}}"
          placeholder="{{localize 'grpga.actor.name'}}" />
      </div>

      <div class="posture" title="{{localize 'grpga.actor.posture.name'}}">
        <select class="posture" name="data.posture.value">
{{#select actor.data.posture.value}}
{{#each config.postures as |name type|}}
          <option value="{{type}}">{{localize name}}</option>
{{/each}}
{{/select}}
        </select>
      </div>

      <div class="initiative" title="{{modeSpecificText.bsname}}">
        <label>{{modeSpecificText.bsabbr}}</label>
        <input type="text" name="data.bs.value" value={{actor.data.bs.value}} data-dtype="Number" />
      </div>

      <!-- Movement -->
{{> "systems/grpga/templates/partials/movement.hbs" data=data}}
    </header>

{{!-- Sheet Tab Navigation --}}
      <nav class="sheet-tabs tabs" data-group="primary">
          {{#if (eq mode "vsd")}}
              <a class="tabtitle" data-tab="vsd">{{localize "grpga.tabs.vsd"}}</a>
          {{/if}}
          {{#each customtabs as |item|}}
              <a class="tabtitle" data-tab="customtabs">{{item.name}}</a>
          {{/each}}
          <a class="tabtitle" data-tab="stats">{{localize "grpga.tabs.main"}}</a>
          <a class="tabtitle" data-tab="combat">{{localize "grpga.tabs.combat"}}</a>
          {{#if (eq mode "3d6")}}
              <a class="tabtitle" data-tab="checks">{{localize "grpga.tabs.checks"}}</a>
          {{/if}}
          <a class="tabtitle" data-tab="skills">{{localize "grpga.tabs.skills"}}</a>
          <a class="tabtitle" data-tab="spells">{{localize "grpga.tabs.spells"}}</a>
          <a class="tabtitle" data-tab="items">{{localize "grpga.tabs.items"}}</a>
          <a class="tabtitle" data-tab="scripts">{{localize "grpga.tabs.scripts.title"}}</a>
          <a class="tabtitle" data-tab="customtabs">{{localize "grpga.tabs.customtabs"}}</a>
      </nav>

{{!-- Sheet Body --}}
    <section id="tabs" class="sheet-body">

{{!-- Stats Tab --}}
      <div class="tab stats" data-tab="stats" data-group="primary">

        <!-- Pools -->
{{> "systems/grpga/templates/partials/pools.hbs" data=data}}
{{> "systems/grpga/templates/partials/variables.hbs" data=data}}

{{!-- Biography Tab --}}
        <div id="biography">
          <p>{{localize "grpga.item.notes"}}</p>
          <textarea rows="13" name="data.biography">{{{actor.data.biography}}}</textarea>
        </div>
      </div>

{{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">

{{!-- DISPLAY ARMOUR CLASS --}}
{{> "systems/grpga/templates/partials/reaction-ac.hbs" data=data}}

{{!-- SAVING THROWS --}}
{{> "systems/grpga/templates/partials/defences-saves.hbs" data=data}}

{{!-- ATTACKS --}}
{{> "systems/grpga/templates/partials/attacks.hbs" data=data}}
{{!> "systems/grpga/templates/partials/ranged-attacks.hbs" data=data}}

      </div>

{{!-- Skills Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">

{{!-- PRIMARY ATTRIBUTES --}}
{{> "systems/grpga/templates/partials/primary-attributes.hbs" data=data}}

{{!-- SKILLS --}}
{{> "systems/grpga/templates/partials/skills.hbs" data=data}}
      </div>

{{!-- Spells Tab --}}
      <div class="tab spells" data-tab="spells" data-group="primary">
{{> "systems/grpga/templates/partials/spells.hbs" data=data}}
      </div>

{{!-- Owned Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">

        <!-- Traits -->
{{> "systems/grpga/templates/partials/owneditemstab.hbs" data=data}}

      </div>

{{!-- Script Engine Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">

{{!-- Script Pane --}}
{{> "systems/grpga/templates/partials/scripts.hbs"}}

      </div>

{{!-- Custom Tab --}}
      <div class="tab customtabs" data-tab="customtabs" data-group="primary">
          <!-- Tabs -->
          {{> "systems/grpga/templates/partials/custom-tabs.hbs" data=data}}
      </div>

    </section>
  </div>
  <script>
    $("input").focusin(function () {
      $(this).select();
    });
    $("textarea").focusin(function () {
      $(this).select();
    }); 
  </script>
</form>