{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.category"}}</label>
            <select name="data.category">
                {{#select item.data.category}}
                <option value="dodge">{{modeSpecificText.dodge}}</option>
                {{#if (ne mode "vsd")}}
                <option value="parry">{{modeSpecificText.parry}}</option>
                {{/if}}
                <option value="block">{{modeSpecificText.block}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.formula"}}</label>
            <input type="text" name="data.formula" value="{{item.data.formula}}" data-dtype="String" {{#if (eq
                mode "vsd" )}}disabled{{/if}} />
        </div>
        {{#if (eq mode "3d6")}}
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.weight"}}</label>
            <input type="text" name="data.weight" value={{item.data.weight}} data-dtype="Number" />
        </div>
        {{/if}}
        {{#if userGroupSort}}
        <div class="flexrow">
            <label class="resource-label">Group</label>
            <input type="text" name="data.group" value="{{item.data.group}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">Sort</label>
            <input type="text" name="data.sort" value="{{item.data.sort}}" data-dtype="Number" />
        </div>
        {{/if}}
{{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>