{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{#if (eq mode "3d6")}}
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.damageResistance"}}</label>
            <input type="text" name="data.damageResistance" value={{item.data.damageResistance}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.damage"}}</label>
            <input type="text" name="data.damage" value={{item.data.damage}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.3d6.injuryType"}}</label>
            <input type="text" name="data.injuryType" value="{{item.data.injuryType}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.toCripple"}}</label>
            <input type="text" name="data.toCripple" value="{{item.data.toCripple}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.crippled"}}</label>
            <input type="checkbox" name="data.crippled" {{checked item.data.crippled}} data-dtype="Boolean" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.toHitRoll18"}}</label>
            <input type="text" name="data.toHitRoll18" value="{{item.data.toHitRoll18}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.toHitRoll6"}}</label>
            <input type="text" name="data.toHitRoll6" value="{{item.data.toHitRoll6}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.toHitPenalty"}}</label>
            <input type="text" name="data.toHitPenalty" value={{item.data.toHitPenalty}} data-dtype="Number" />
        </div>
        {{else if (eq mode "d100")}}
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.d100.bleeding"}}</label>
            <input type="text" name="data.damageResistance" value={{item.data.damageResistance}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.d100.penalty"}}</label>
            <input type="text" name="data.damage" value={{item.data.damage}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.d100.severity"}}</label>
            <select name="data.injuryType">
                {{#select item.data.injuryType}}
                <option value="na">{{localize "grpga.item.hit-location.d100.na"}}</option>
                <option value="minor">{{localize "grpga.item.hit-location.d100.minor"}}</option>
                <option value="serious">{{localize "grpga.item.hit-location.d100.serious"}}</option>
                <option value="crippling">{{localize "grpga.item.hit-location.d100.crippling"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.d100.treatment"}}</label>
            <select name="data.toCripple">
                {{#select item.data.toCripple}}
                <option value="none">{{localize "grpga.item.hit-location.d100.none"}}</option>
                <option value="critical">{{localize "grpga.item.hit-location.d100.critical"}}</option>
                <option value="failure">{{localize "grpga.item.hit-location.d100.failure"}}</option>
                <option value="partial">{{localize "grpga.item.hit-location.d100.partial"}}</option>
                <option value="success">{{localize "grpga.item.hit-location.d100.success"}}</option>
                <option value="outstanding">{{localize "grpga.item.hit-location.d100.outstanding"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.d100.lingering"}}</label>
            <input type="checkbox" name="data.crippled" {{checked item.data.crippled}} data-dtype="Boolean" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.d100.dlth"}}</label>
            <input type="text" name="data.toHitPenalty" value={{item.data.toHitPenalty}} data-dtype="Number" />
        </div>
        {{else if (eq mode "vsd")}}
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.vsd.bleeding"}}</label>
            <input type="text" name="data.damageResistance" value={{item.data.damageResistance}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.vsd.penalty"}}</label>
            <input type="text" name="data.damage" value={{item.data.damage}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.vsd.severity"}}</label>
            <select name="data.injuryType">
                {{#select item.data.injuryType}}
                <option value="na">{{localize "grpga.item.hit-location.vsd.na"}}</option>
                <option value="minor">{{localize "grpga.item.hit-location.vsd.minor"}}</option>
                <option value="serious">{{localize "grpga.item.hit-location.vsd.serious"}}</option>
                <option value="crippling">{{localize "grpga.item.hit-location.vsd.crippling"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.vsd.treatment"}}</label>
            <select name="data.toCripple">
                {{#select item.data.toCripple}}
                <option value="none">{{localize "grpga.item.hit-location.vsd.none"}}</option>
                <option value="critical">{{localize "grpga.item.hit-location.vsd.critical"}}</option>
                <option value="failure">{{localize "grpga.item.hit-location.vsd.failure"}}</option>
                <option value="partial">{{localize "grpga.item.hit-location.vsd.partial"}}</option>
                <option value="success">{{localize "grpga.item.hit-location.vsd.success"}}</option>
                <option value="outstanding">{{localize "grpga.item.hit-location.vsd.outstanding"}}</option>
                {{/select}}
            </select>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.vsd.lingering"}}</label>
            <input type="checkbox" name="data.crippled" {{checked item.data.crippled}} data-dtype="Boolean" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.vsd.dlth"}}</label>
            <input type="text" name="data.toHitPenalty" value={{item.data.toHitPenalty}} data-dtype="Number" />
        </div>
        {{else}}
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.damage"}}</label>
            <input type="text" name="data.damage" value={{item.data.damage}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.oats.injuryType"}}</label>
            <input type="text" name="data.injuryType" value="{{item.data.injuryType}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.toCripple"}}</label>
            <input type="text" name="data.toCripple" value="{{item.data.toCripple}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.crippled"}}</label>
            <input type="checkbox" name="data.crippled" {{checked item.data.crippled}} data-dtype="Boolean" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.hit-location.toHitPenalty"}}</label>
            <input type="text" name="data.toHitPenalty" value={{item.data.toHitPenalty}} data-dtype="Number" />
        </div>
        {{/if}}
        {{#if userGroupSort}}
        <div class="flexrow">
            <label class="resource-label">Group</label>
            <input type="text" name="data.group" value="{{item.data.group}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">Sort</label>
            <input type="text" name="data.sort" value="{{item.data.sort}}" data-dtype="Number" />
        </div>
        {{/if}}
{{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>