{{debug "this:" this}}
<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.pool.abbr"}}</label>
            <input type="text" name="data.abbr" value="{{item.data.abbr}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.pool.state"}}</label>
            <label class="resource-label">{{item.data.state}}</label>
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.pool.min"}}</label>
            <input class="pool" type="text" name="data.min" value={{item.data.min}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.pool.value"}}</label>
            <input class="pool" type="text" name="data.value" value={{item.data.value}} data-dtype="Number" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.pool.max"}}</label>
            <input class="pool" type="text" name="data.max" value={{item.data.max}} data-dtype="Number" />
        </div>
        {{#if userGroupSort}}
        <div class="flexrow">
            <label class="resource-label">Group</label>
            <input type="text" name="data.group" value="{{item.data.group}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">Sort</label>
            <input type="text" name="data.sort" value="{{item.data.sort}}" data-dtype="Number" />
        </div>
        {{/if}}
{{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>