{{debug "this:" this}}

<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header charname">
        <img class="portrait" src={{item.img}} data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize " grpga.item.name"}}" />
    </header>
    <hr>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="flexrow">
            <label class="resource-label">{{localize "grpga.item.primary-attribute.abbr"}}</label>
            <input type="text" name="data.abbr" value="{{item.data.abbr}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">{{modeSpecificText.attr}}</label>
            <input type="text" name="data.attr" value={{item.data.attr}} data-dtype="Number" />
        </div>
        {{#if userGroupSort}}
        <div class="flexrow">
            <label class="resource-label">Group</label>
            <input type="text" name="data.group" value="{{item.data.group}}" data-dtype="String" />
        </div>
        <div class="flexrow">
            <label class="resource-label">Sort</label>
            <input type="text" name="data.sort" value="{{item.data.sort}}" data-dtype="Number" />
        </div>
        {{/if}}
{{> "systems/grpga/templates/partials/notes.hbs" data=data}}
    </section>
</form>